<h1> Chính Béo</h1>
<!--<div class = "container">-->
<!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">-->
<!--   <div class="panel panel-primary">-->
<!--     <div class="panel-heading">-->
<!--       <h3 class="panel-title">Component To View</h3>-->
<!--     </div>-->
<!--     <div class="panel-body">-->
<!--       <app-hello></app-hello>-->
<!--     </div>-->
<!--   </div>-->
<!-- </div>-->
<!--  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">-->
<!--    <div class="panel panel-primary">-->
<!--      <div class="panel-heading">-->
<!--        <h3 class="panel-title">Component To View</h3>-->
<!--      </div>-->
<!--      <div class="panel-body">-->
<!--      <app-view-to-component></app-view-to-component>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg12">
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Two Way Binding</h3>
  </div>
  <div class="panel-body">
    <app-two-way-biding></app-two-way-biding>
  </div>
</div>
</div>
